/*-----------------------------------------------------------------------------
[client] Screen Stylesheet

version:   1.0
date:      01/29/16
author:    pureye4u
email:     slowslipper@gmail.com

website:   

version history: 1.0 - Make css for cashbook app
-----------------------------------------------------------------------------*/
html {
}

body {
}

a {
}